<div class="container">
  <div class="row">

    <section class="col-3">
      <h5 class="text-warning ml-3">Sort</h5>
      <select class="custom-select mb-3">
        <option>Alphabetical</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
      </select>

      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item active"> Test 1</li>
        <li class="list-group-item active"> Test 2</li>
        <li class="list-group-item active"> Test 3</li>
        <li class="list-group-item active"> Test 4</li>
      </ul>
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item active"> Test 1</li>
        <li class="list-group-item active"> Test 2</li>
        <li class="list-group-item active"> Test 3</li>
        <li class="list-group-item active"> Test 4</li>
      </ul>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span>Showing <strong>10</strong> of <strong>16</strong> Results</span>
        </header>
        <div class="form-inline mt-2">
          <input type="text" class="form-control" style="width: 300px" placeholder="Search">
          <button class="btn btn-outline-primary my-2">Search</button>
          <button class="btn btn-outline-success my-2">Reset</button>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
          <app-product-item [product]="product" ></app-product-item>
        </div>
      </div>
    </section>


  </div>
</div>
