.cart-no{
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 16px;
}

.fa-shopping-cart{
  margin-right: 35px;
}

.btn-login{
  margin-right: 3px;
}

.btn-signup{
  margin-right: 2px;
}
